body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #333;
    color: #fff;
    width: 200px;
    padding: 1em;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 1em 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.content {
    flex-grow: 1;
    padding: 1em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.card {
    background-color: #f4f4f4;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

#pagination {
    text-align: center;
    margin: 1em 0;
}

.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .card {
    background-color: #333;
}

button {
    padding: 0.5em 1em;
    margin: 0.5em;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.resume h2,
.resume h3,
.resume h4 {
    margin-top: 0;
}

.resume ul {
    list-style-type: disc;
    margin-left: 2em;
}
